@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}

.scrollStyle {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}

.scrollStyle::-webkit-scrollbar {
    display: none;
}

.ant-table-content {
    background: #242427 !important;
    border-radius: 20px !important;
}

.ant-table-thead .ant-table-cell {
    background: #242427 !important;
    color: white !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}

.ant-table-cell {
    background: #242427 !important;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    border-bottom: transparent !important;
}

.ant-typography {
    color: #ffffff !important;
}
.arrow-icon {
    transition: transform 0.3s ease-in-out;
}

.rotate180 {
    transform: rotate(180deg);
}
